.lists {
  background: #fff;
  color: #000;
}

.lists a {
  color: #000;
}

.lists button {
  box-shadow: none;
}

.new-list-button {
  display: flex;
  justify-content: space-between;
}

.new-list-button button {
  background: #7fc388;
}

.list {
  padding: 20px;
  background: #647455;
  color: #fff;
  border-radius: 20px;
}

.list-header {
  text-align: right;
}

.list-header i {
  margin: 0 10px;
}

.fa-trash {
  color: #ff8d8f;
}

.list .list-body {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 300px;
}

.lists-container {
  display: flex;
  gap: 50px;
  overflow-x: auto;
  overflow-y: hidden !important;
  padding-bottom: 20px;
}

#list-take {
  width: 100%;
  background: #fff;
  margin: 0;
}

#list-actions-disable {
  height: 24px;
}

.new-list-button .locked {
  background: #f0f0f0;
  position: relative;
}

.new-list-button .locked .fa-lock {
  top: -10%;
  right: -2%;
}

@media (max-width: 600px) {
  .list .list-body {
    width: 200px;
    display: block;
  }
}
