.new-list {
  max-width: 700px;
}

.new-list form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.new-list form .form-group {
  margin: 10px;
  display: flex;
  flex-direction: column;
  width: 80%;
}

input,
.new-list form div textarea {
  padding: 10px 5px;
  border: none;
  border-bottom: 1px solid #000;
  border-width: 1px;
  background: transparent;
}

.new-list form div textarea {
  padding-bottom: 0;
}

.css-1xc3v61-indicatorContainer {
  color: #000 !important;
}

.css-13cymwt-control {
  border-color: #000 !important;
}

.css-1u9des2-indicatorSeparator {
  background-color: #000 !important;
}

.css-b62m3t-container {
  padding-top: 10px;
}

input:focus,
.new-list form div textarea:focus {
  outline: none;
}

.new-list form .buttons-white-theme {
  flex-direction: row;
}

.buttons-white-theme button {
  background: transparent;
  border: #7fc388 1px solid;
  margin: 10px 40px;
}

.buttons-white-theme .main-button {
  background: #7fc388;
}
