.header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  top: 0;
  z-index: 100;
  padding: 10px 20px;
  box-sizing: border-box;
  align-items: center;
  font-size: 18px;
}

#menu {
  display: flex;
  align-items: center;
}

#menu .menuItem {
  padding: 20px;
  text-decoration: none;
  color: #000;
  font-weight: bold;
  letter-spacing: 1px;
  transition: all 0.5s;
  color: #63856a;
}

#gradient-bg .menuItem {
  color: #c8d8b9;
}

#gradient-bg #coin-container {
  background: #c8d8b9;
}

#gradient-bg #coin-container span {
  color: #000;
}

/* .menuItem:hover {
  color: #fff;
  background-color: rgb(255, 255, 255);
} */

.fa-user-circle {
  font-size: 54px;
}

#coin-container {
  display: flex;
  align-items: center;
  gap: 0 10px;
  background: #63856a;
  border-radius: 20px;
  padding: 5px 10px;
}

#coin-container span {
  color: #fff;
}

#mobile-menu-btn {
  display: none;
  background-color: transparent;
  color: #fff;
  border: none;
  font-family: "Lexend Mega", sans-serif;
  cursor: pointer;
  outline: none;
  font-size: 20px;
}

.music {
  color: #63856a;
  display: flex;
  align-items: center;
  gap: 10px;
  border: 3px solid #63856a;
  background: #63856a;
  color: #c8d8b9;
  padding: 10px;
  margin-right: 20px;
  border-radius: 10px;
  position: relative;
}

.music_image img {
  width: 50px;
  height: 50px;
  object-fit: cover;
}

.music_image {
  height: 50px;
}

.fa-play-circle,
.fa-stop-circle {
  cursor: pointer;
  font-size: 40px;
}

iframe {
  width: 0;
  height: 0;
}

.music.locked .fa-lock {
  top: -10%;
  right: -3%;
  color: #fff;
}

.music.locked {
  /* background: #ffffff; */
  /* position: relative; */
  background: rgba(0, 0, 0, 0.3);
  border-color: transparent;
}
