.account .fa-user-circle {
  color: #63856a;
  font-size: 150px;
  margin-bottom: 10px;
}

.account .fa-pen {
  color: #63856a;
  font-size: 30px;
  position: relative;
  top: 40%;
  right: 2%;
}

.account {
  color: #000;
  /* max-width: 800px; */
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.account .main-button {
  width: 100%;
}

.account form div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  margin: 10px;
}

.account input {
  width: 60%;
}

.account-list {
  background: #63856a;
  border-radius: 30px;
  color: #fff;
  margin-right: 5vw;
  padding: 30px;
}

.account-list ul li {
  list-style: none;
}

.account-list ul {
  padding: 0 20px;
}

.account-list .fa-user-circle {
  color: #c8d8b9;
  font-size: 100px;
}

.account-list-header {
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 20px;
  padding-bottom: 20px;
  border-bottom: #c8d8b9 solid 1px;
}

ul.center {
  flex-direction: column;
}

.account-main .center {
  margin-bottom: 50px;
}

.account .main {
  color: #c8d8b9;
}

ul div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.logout {
  text-decoration: none;
  color: #ff8d8f;
  font-size: 20px;
}

h5 {
  font-size: 22px;
}

.account-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.mobile-logout {
  display: none;
}

@media (max-width: 600px) {
  .account-list {
    display: none;
  }

  .account {
    display: block;
  }

  .mobile-logout {
    display: block;
  }

  .account .fa-pen {
    top: 50px;
    right: 8%;
  }
}
