.reset-password.login.new-list form .form-group {
  width: 100%;
}

.reset-password h2 {
  padding: 40px 40px 0;
}

.reset-password .main-button {
  width: 100%;
}

.message {
  margin-top: 1rem;
  font-weight: 500;
  text-align: center;
}

.message.success {
  color: green;
}

.message.error {
  color: red;
}
