#main-frame {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

#charts {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 80vw;
  color: #000;
  margin-bottom: 200px;
  margin: 0 auto;
}

.no-exercises {
  height: 40vh;
}

.App.gradient-bg {
  background: radial-gradient(ellipse at center, #63856a 1%, #3c5a40 100%);
  color: #fff;
}

@media (max-width: 600px) {
  #main-frame {
    display: block;
    height: 100vh;
    min-height: 800px;
  }
}
