#main-frame {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

#charts {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 80vw;
  color: #000;
  margin-bottom: 200px;
}
