#store {
  text-align: left;

  .lists {
    background: #63856a;
    color: #fff;

    .storeItems {
      display: flex;
      justify-content: center;
      gap: 10vh;

      .storeItem div {
        display: flex;
        justify-content: space-between;
        padding: 10px 20px;
      }

      .storeItem .img {
        width: 200px;
        height: 200px;
      }
    }
  }
}
