#dice-wrapper {
  width: 100vw;
  height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

#dice-wrapper button {
  position: absolute;
  left: 5%;
  top: 40%;
  border-radius: 10px;
  border: none;
  font-size: 18px;
  padding: 10px;
  box-shadow: #3c5a40 0px 20px 20px;
  height: 50px;
  width: 200px;
  margin: 10px;
  cursor: pointer;
  z-index: 1;
}

#dice-wrapper .main-button {
  top: 50%;
}

canvas {
  max-width: 100%;
  max-height: 80vh;
}

@media (max-width: 600px) {

#dice-wrapper button{
  top: 60%;
  left: 20%;
}

#dice-wrapper .main-button{
  top: 70%;
}
}