.music-song {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 0;
}

.music-song-left {
  display: flex;
  align-items: center;
}

.music-song .music-song-left .music_image {
  margin-right: 20px;
  height: 100px;
}

.music-song .music-song-left .music_image img {
  width: 100px;
  height: 100px;
  box-sizing: border-box;
}

#music-url {
  width: 90%;
}

.music-header {
  width: 100%;
  display: grid;
  grid-template-columns: 4fr 1fr;
}

.add-music {
  /* width: 20%; */
  color: #c8d8b9;
  color: #fff;
  background: #63856a;
}

.music-song.main {
  width: 65vw;
  right: 17%;
  bottom: 20px;
  position: fixed;
  box-shadow: 10px 10px 10px 0px #000;
  background: #63856a;
  border-radius: 20px;
  padding: 20px;
  color: #fff;
  display: block;
  z-index: 1000;
}

.currentTrack {
  padding-bottom: 270px;
}

.main .music-song-right {
  display: flex;
  align-items: center;
  gap: 20px;
  font-size: 22px;
  color: #c8d8b9;
}

.main .music-song-right .fa-stop-circle,
.main .music-song-right .fa-play-circle {
  font-size: 60px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.9);
  border-radius: 50%;
}

.music-song-icons {
  display: flex;
  justify-content: center;
}

.unlock-custom-music {
  display: flex;
  background: #63856a;
  color: #fff;
  height: auto;
  width: 100%;
  margin: 0;
}

.custom-music {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

@media (max-width: 768px) {
  .music-song.main {
    width: 80vw;
    position: fixed;
    bottom: 100px;
    left: 5%;
    box-shadow: 0px -4px 10px rgba(0, 0, 0, 0.4);
    background: #63856a;
    padding: 20px;
    color: #fff;
    z-index: 1000;
    margin: 0 auto;
  }

  .main .music-song-right {
    justify-content: center;
    gap: 15px;
    font-size: 18px;
  }

  .main .music-song-right .fa-stop-circle,
  .main .music-song-right .fa-play-circle {
    font-size: 40px;
  }

  .music-song .music-song-left .music_image img {
    width: 80px;
    height: 80px;
  }

  .currentTrack {
    padding-bottom: 300px;
  }

  .music-song-left {
    flex-wrap: wrap;
    min-width: 0;
  }

  .music-song {
    word-break: break-word;
  }

  .chart-container {
    width: 75%;
  }

  .music-header {
    display: block;
  }

  .music-header .add-music {
    width: 100%;
    margin: 0;
    margin-top: 20px;
  }

  #music-url {
    width: 100%;
  }

  .music-song-left .music_image,
  .music-song.main .music-song-left .music_image img {
    width: 100%;
    height: 100%;
    margin-right: 0;
  }
}
